@import "reset.css";

body {
    font-size: 18px;
    font-family: Arial, sans-serif;
     background: #fdf8f3;
    color: #4a2e1f;   
    text-align: center;
}

body {
    background: url("../assets/media/background.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 248, 240, 0.7); 

    z-index: -1;
}


body {
    color: #4a2e1f; 
    
}

header {
    background: #7a4e2d;
    color: white;
    padding: 20px;
}

nav a {
     color: white;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #f3d9c3;
};

.hero {
    background: linear-gradient(135deg, #c9a27c, #f5e6d8);
    color: #4a2e1f;
    padding: 40px 20px;  
    margin: 0 auto;       
    max-width: 700px;     
}


.hero {
    text-align: center;
}


h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #5a3b24;
    line-height: center;
}

.hero h2 {
    margin-bottom: 10px;
}

.hero p,
#about p {
    max-width: 700px;   
    margin: 0 auto;     
    text-align: center;
    line-height: 1.7;
    margin-top: 10px;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.skill-card {
    background: #fff6ee; 
    color: #4a2e1f;
    padding: 12px 20px;
    border-radius: 25px;
    font-weight: 600;
    border: 1px solid #e6c8b5;

    transition: 0.3s;
}

.skill-card:hover {
    background: #4f3d2c; 
    color: white;
    transform: scale(1.1);
}
.project-card {
    background: #fff4ea;
    border: 1px solid #e3c8b3;
    padding: 20px;
    width: 320px;
    margin: 20px auto;
    border-radius: 8px;
}

.project-card:hover {
    background: #4f3d2c; 
    color: white;
    transform: scale(1.1);
}

section {
    padding: 40px 20px;
}

#contact {
    background: #e5dace;
}

footer {
    background:#7a4e2d;
    color: white;
    padding: 20px;
}

.profile-img {
    width: 200px;
    height: 260px;

    object-fit: cover;

    border-radius: 12px;
    border: 3px solid #d6a77a;

    display: block;
    margin: 20px auto;

    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.hero p,
#about p {
    max-width: 700px;   
    margin: 0 auto;     
    text-align: center;
    line-height: 1.7;
    margin-top: 10px;
}
