@import "reset.css";

body {
    font-family: Arial, sans-serif;
     background: #fdf8f3;
    color: #4a2e1f;   
    text-align: center;
}

header {
    background: #7a4e2d;
    color: white;
    padding: 20px;
}

nav a {
     color: white;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #f3d9c3;
};

.hero {
    padding: 80px 20px;
    background: linear-gradient(135deg, #c9a27c, #f5e6d8);
    color: #4a2e1f;
}

section {
    padding: 60px 20px;
}

#contact {
    background: #f7efe7;
}

footer {
    background:#7a4e2d;
    color: white;
    padding: 20px;
}